title: Character Traits Children Need to Succeed
author: Yan P Aung
date: 07-09-2014

{% extends "post.html" %}
{% block body %}

{% load markup %}
{% filter markdown %}

Kiki is turning three next month. I have been reading a book called <a href="http://www.amazon.com/How-Children-Succeed-Curiosity-Character/dp/0544104404f">How Children Succeed</a>. It listed these 7 essential character traits children need for them to be successful in life. I looked up thier dictionary definitions on Merriam-Webster.

<b> Grit </b> 
> firmness of mind or spirit :  unyielding courage in the face of hardship or danger

<b> Curiosity </b>
> one that arouses interest especially for uncommon or exotic characteristics

<b> Self-control </b>
> restraint exercised over one's own impulses, emotions, or desires

<b> Social intelligence </b>*
> the ability to get along well with others, and to get them to cooperate with you

<b> Zest </b>
> a lively quality that increases enjoyment, excitement, or energy

<b> Optimism </b>
> an inclination to put the most favorable construction upon actions and events or to anticipate the best possible outcome

<b> Gratitude </b>
> a feeling of appreciation or thanks


Now the real question is how do I teach Kiki to possess all those qualities.

<img src="{{ STATIC_URL }}/img/Kiki3rdYr0220.JPG"></img>

{% endfilter %}
* = Webster does not have a definition for social intelligence so I looked it up on Google.

{% endblock %}